.button {
    background: linear-gradient(to bottom, #5592bb 0%, #327cad 66%, #1C6EA4 100%);
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    -webkit-transition-duration: 0.4s;
    font-family: "Comic Sans MS", cursive, sans-serif;
    transition-duration: 0.4s;
}

.button:hover {
    box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);
}

#addContactBtn {
    margin-left: 10px;
}

#contactsForm {
    width: 100%;
    clear: both;
    display: inline-flex;
}

table.blueTable {
    font-family: "Comic Sans MS", cursive, sans-serif;
    border: 1px solid #1C6EA4;
    background-color: #EEEEEE;
    width: 30%;
    text-align: center;
    border-collapse: collapse;
}

table.blueTable td,
table.blueTable th {
    border: 1px solid #AAAAAA;
    padding: 3px 2px;
}

table.blueTable tbody td {
    font-size: 13px;
    font-weight: bold;
    height: 30px;
}

table.blueTable tbody tr:nth-child(even) {
    background: #D0E4F5;
}

table.blueTable tbody tr:hover {
    background: yellow;
    cursor: pointer;
}

table.blueTable thead {
    background: #1C6EA4;
    background: -moz-linear-gradient(top, #5592bb 0%, #327cad 66%, #1C6EA4 100%);
    background: -webkit-linear-gradient(top, #5592bb 0%, #327cad 66%, #1C6EA4 100%);
    background: linear-gradient(to bottom, #5592bb 0%, #327cad 66%, #1C6EA4 100%);
    border-bottom: 2px solid #444444;
}

table.blueTable thead th {
    font-size: 15px;
    font-weight: bold;
    color: #FFFFFF;
    text-align: center;
    border-left: 2px solid #D0E4F5;
}

table.blueTable thead th:first-child {
    border-left: none;
}

table.blueTable tfoot td {
    font-size: 14px;
}

table.blueTable tfoot .links {
    text-align: right;
}

table.blueTable tfoot .links a {
    display: inline-block;
    background: #1C6EA4;
    color: #FFFFFF;
    padding: 2px 8px;
    border-radius: 5px;
}

#contactFormWrapper {
    box-sizing: border-box;
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 10px;
}

#contactFormWrapper input[type=text],
#contactFormWrapper input[type=email] {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
}


#contactFormWrapper .column {
    float: left;
    width: 50%;
    margin-top: 6px;
    padding: 20px;
}

.detais .column {
    float: left;
    width: 50%;
    margin-top: 0;
    padding: 0;
}

#contactFormWrapper #saveContactBtn {
    float: right;
    position: relative;
    top: 10%;
}

#contactFormWrapper .row:after {
    content: "";
    display: table;
    clear: both;
}

.detais h1 {
    font-weight: bold;
}

.detais .modal-body {
    height: 230px;
}

.required {
    border-color: red !important;
}

@media screen and (max-width: 600px) {
    #contactFormWrapper .column,
    .detais .column,
    #contactFormWrapper input[type=submit] {
        width: 100%;
        margin-top: 0;
    }
}
